#banner-image {
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
	color: #f8f8f8;
	background: url("images/intro1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
        opacity:1;
}
#banner_content {
	position: relative;
	padding-top: 6%;
	padding-bottom: 6%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 660px;
}
footer {
	position: fixed;
	padding: 10px 0;
	text-align: center;
	bottom: 0;
	background-color: #101010;
	color: #9d9d9d;
	width: 100%;
}
.panel-margin {
	margin-top: 80px;
	margin-bottom: 10px;
}
.text-centre {
	text-align: center;
}
#img{
    padding-top: 10px;
	padding-bottom: 50px;
    
}
.carousel-inner img {
    width: 60%;
    height: 60%;s
    text-align: center;
  }
  
.cont {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #C5A4E7;
}

.cont:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
